
Widget/Info.plist
TestingFunctions.playground/playground.xcworkspace/xcuserdata/javiergomez.xcuserdatad/UserInterfaceState.xcuserstate
TestingFunctions.playground/playground.xcworkspace/contents.xcworkspacedata
TestingFunctions.playground/contents.xcplayground
TestingFunctions.playground/Contents.swift
Resources/Slack Template-2.mockup
Resources/ScreenImages-6_5/-Simulator Screen Shot - iPhone 12 - 2022-05-14 at 14.19.41.jpeg
Resources/ScreenImages-6_5/-Simulator Screen Shot - iPhone 11 - 2022-05-14 at 13.52.34.jpeg
Resources/ScreenImages-6_5/-Simulator Screen Shot - iPhone 11 - 2022-05-14 at 13.49.28.jpeg
Resources/ScreenImages-6_5/-Simulator Screen Shot - iPhone 11 - 2022-05-14 at 13.48.55.jpeg
Resources/ScreenImages-6_5/-Simulator Screen Shot - iPhone 11 - 2022-05-14 at 13.48.41.jpeg
Resources/ScreenImages-6_5/-Simulator Screen Shot - iPhone 11 - 2022-05-14 at 13.48.07.jpeg
Resources/Pages.psd
Resources/Logo.psd
Resources/logo-wording-dark.jpg
Resources/Logo-Horizontal_lowresolution.jpg
Resources/Logo-Horizontal.psd
Resources/iOS Phones - 6.5"/screenshot5.jpeg
Resources/iOS Phones - 6.5"/screenshot4.jpeg
Resources/iOS Phones - 6.5"/screenshot3.jpeg
Resources/iOS Phones - 6.5"/screenshot2.jpeg
Resources/iOS Phones - 6.5"/screenshot1.jpeg
Resources/iOS Phones - 6.5"/Apple iPhone 11 Pro Max Screenshot 7.png
Resources/iOS Phones - 6.5"/Apple iPhone 11 Pro Max Screenshot 6.png
Resources/iOS Phones - 6.5"/Apple iPhone 11 Pro Max Screenshot 5.png
Resources/iOS Phones - 6.5"/Apple iPhone 11 Pro Max Screenshot 4.png
Resources/iOS Phones - 6.5"/Apple iPhone 11 Pro Max Screenshot 3.png
Resources/iOS Phones - 6.5"/Apple iPhone 11 Pro Max Screenshot 2.png
Resources/iOS Phones - 6.5"/Apple iPhone 11 Pro Max Screenshot 1.png
Resources/iOS Phones - 5.5"/screenshot5.jpeg
Resources/iOS Phones - 5.5"/screenshot4.jpeg
Resources/iOS Phones - 5.5"/screenshot3.jpeg
Resources/iOS Phones - 5.5"/screenshot2.jpeg
Resources/iOS Phones - 5.5"/screenshot1.jpeg
Resources/iOS Phones - 5.5"/Apple iPhone 6s Plus Screenshot 7.png
Resources/iOS Phones - 5.5"/Apple iPhone 6s Plus Screenshot 6.png
Resources/iOS Phones - 5.5"/Apple iPhone 6s Plus Screenshot 5.png
Resources/iOS Phones - 5.5"/Apple iPhone 6s Plus Screenshot 4.png
Resources/iOS Phones - 5.5"/Apple iPhone 6s Plus Screenshot 3.png
Resources/iOS Phones - 5.5"/Apple iPhone 6s Plus Screenshot 2.png
Resources/iOS Phones - 5.5"/Apple iPhone 6s Plus Screenshot 1.png
Resources/IMG_6868.jpeg
Resources/IMG_5503.jpeg
Resources/Certificate.p12
MW Watcher/StocksModel/StocksAPI.swift
MW Watcher/NewsModel/NewsAPI.swift
MW Watcher/Info.plist
MW Watcher/GoogleService-Info.plist
MW Watcher/CryptoModel/CryptosAPI.swift
MW Watcher/ChartsModel/ChartsAPI.swift
Resources/.DS_Store
Resources/iOS Phones - 6.7"/Apple iPhone 11 Pro Max Screenshot 1.png
Resources/iOS Phones - 6.7"/Apple iPhone 11 Pro Max Screenshot 2.png
Resources/iOS Phones - 6.7"/Apple iPhone 11 Pro Max Screenshot 3.png
Resources/iOS Phones - 6.7"/Apple iPhone 11 Pro Max Screenshot 4.png
Resources/iOS Phones - 6.7"/Apple iPhone 11 Pro Max Screenshot 5.png
Resources/iOS Phones - 6.7"/Apple iPhone 11 Pro Max Screenshot 6.png
Resources/iOS Phones - 6.7"/Apple iPhone 11 Pro Max Screenshot 7.png
