<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722744616223-tf1tuqq0grhtgqvjaj6es2ti5m3ejfob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722744616223-tf1tuqq0grhtgqvjaj6es2ti5m3ejfob</string>
	<key>API_KEY</key>
	<string>AIzaSyDislLmRhyYWGB7RN3K-w5gI5-sp1m5we8</string>
	<key>GCM_SENDER_ID</key>
	<string>722744616223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jdev.MW-Watcher</string>
	<key>PROJECT_ID</key>
	<string>market-news-d7738</string>
	<key>STORAGE_BUCKET</key>
	<string>market-news-d7738.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722744616223:ios:62f2ad70985c2a9e44fc2a</string>
</dict>
</plist>